$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #fff;

%sans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%sans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%sans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%sans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%ruda-400 {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}

%ruda-900 {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}