@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



@import 'media';

.header-top {
  color: $white;
  background-color: $dark-800;
  padding: 14px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @extend %sans-700;
    font-size: 13px;
    position: relative;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__contacts {
    display: flex;
  }

  &__adress {
    padding-left: 44px;
    margin-right: 50px;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/address-icon.svg);
      background-position: center;
      top: -4px;
      left: 0;
      width: 32px;
      height: 22px;
    }
  }

  &__phone {
    padding-left: 35px;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/tel-icon.svg);
      background-position: center;
      top: -4px;
      left: 285px;
      width: 22px;
      height: 22px;
    }
  }

  &__nav {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }
}

.header-bottom {
  background-color: $green-900;
  padding: 24px 0;
  @extend %sans-600;
  letter-spacing: 0.03em;

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  margin-right: 24px;
}

.header-menu {
  padding: 15px 38px 15px 61px;
  background-color: $white;
  border-radius: 6px;
  margin-right: 30px;

  &__list {
    color: $green-900;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
      width: 25px;
      height: 17px;
      background-image: url(../images/icons/nav-icon.svg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -18px;
      transform: translateY(-50%);
      width: 8px;
      height: 4px;
      background-image: url(../images/icons/nav-arrow.svg);
    }
  }
}

.header-form {
  color: $dark-800;
  display: flex;
  max-width: 574px;
  width: 100%;
  margin-right: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/icons/search-icon.svg);
  }

  &__input {
    width: 100%;
    padding: 15px 51px 15px;
    border: none;
    border-radius: 6px 0 0 6px;
  }

  &__btn {
    padding: 15px 50px;
    text-transform: uppercase;
    border: none;
    background-color: $dark-800;
    color: $white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
}

.user-nav {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 33px;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &-user {
      background-image: url(../images/icons/user-icon.svg);
    }

    &-fav {
      background-image: url(../images/icons/heart-icon.svg);
    }

    &-cart {
      background-image: url(../images/icons/cart-icon.svg);
    }
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    @extend %sans-600;
    font-size: 10px;
    line-height: 1.6;
    color: $red-900;
    text-align: center;
    top: -5px;
    left: -6px;
  }

}

.footer {
  color: $white;
  line-height: 1;
  background-color: $dark-800;
  padding: 30px 0 24px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  &__form {
    max-width: 350px;
    width: 100%;
  }

  &__title {
    display: block;
    margin-bottom: 18px;
  }

  &__input {
    border-radius: 6px 0 0 6px;
    border: none;
    margin-right: -4px;
    padding: 12px;
    align-items: center;

  }

  &__btn {
    @extend %sans-700;
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    background-color: $green-900;
    border: none;
    padding: 12px 17px;
    color: $white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    margin-bottom: 18px;
  }
}

.footer-bottom {
  padding-top: 24px;
  border-top: 1px solid $dark-500;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__payway {
    display: flex;
  }
  &__img:not(:last-child){
   margin-right: 24px;   
  }
}